<div class="d-flex flex-wrap mb-2">

  <div>
    <span class="d-inline-flex mx-2 align-items-center">Current Project:</span>
    <select class="btn bg-transparent"
            (change)="setProject($event.target.value)">
      <option [value]="projectLoaderService.projects.FRONTEND">Frontend</option>
      <option [value]="projectLoaderService.projects.BACKEND">Backend</option>
    </select>

    <span class="d-inline-flex mx-2 align-items-center"
          [class.text-success]="this.projectLoaderService.connected"
          [class.text-danger]="!this.projectLoaderService.connected">
      {{!this.projectLoaderService.connected ? 'Not ' : ''}} Loaded
    </span>
  </div>
</div>

<div *ngIf="this.projectLoaderService.connected;else loading"
     class="row mh-100 overflow-hidden">
  <div class="d-flex sticky-top bg-white col-12">
    <select class="btn bg-transparent"
            (change)="changeFilter($event.target.value)">
      <option [value]="filters.NONE"
              [selected]="filter === filters.NONE">No Filter
      </option>
      <option [value]="filters.UNUSED"
              [selected]="filter === filters.UNUSED">Unused Keys
      </option>
      <option [value]="filters.INVALID_KEYS"
              [selected]="filter === filters.INVALID_KEYS">Empty Keys
      </option>
      <option [value]="filters.INVALID_DE"
              [selected]="filter === filters.INVALID_DE">Empty DE Keys
      </option>
      <option [value]="filters.INVALID_EN"
              [selected]="filter === filters.INVALID_EN">Empty EN Keys
      </option>
      <option [value]="filters.INVALID_ES"
              [selected]="filter === filters.INVALID_ES">Empty ES Keys
      </option>
      <option [value]="filters.INVALID_FR"
              [selected]="filter === filters.INVALID_FR">Empty FR Keys
      </option>
      <option [value]="filters.INVALID_IT"
              [selected]="filter === filters.INVALID_IT">Empty IT Keys
      </option>
    </select>
    <input type="text"
           class="d-flex mr-2 flex-grow-1"
           #searchBox
           [value]="searchFilter"
           (keyup)="searchFilter = (searchBox.value)"
           placeholder="Search..."/>
    <div class="btn-group ml-auto">
      <button class="btn btn-secondary cursor-pointer"
              [disabled]="!changedData"
              (click)="updateData()"><span>Save Changes</span>
      </button>
      <button class="btn btn-secondary cursor-pointer"
              (click)="modalOrganizerService.addKey(languageLoaderService.parsedLangData)">
        <span>Add Key</span>
      </button>
    </div>
  </div>

  <div class="col-12 key-list overflow-auto"
       [class.col-sm-6]="!!selectedKey">
    <app-key-output [filter]="filter"
                    [searchFilter]="searchFilter"
                    [changedData]="changedData"
                    (changeEmitter)="dataChanged($event)"></app-key-output>
  </div>
  <div class="col-12 col-sm-6"
       *ngIf="!!selectedKey">
    <div *ngFor="let langKey of getKeys(languageLoaderService.languages)">
      <p class="mb-0">{{langKey.toUpperCase()}}</p>
      <textarea class="w-100 key-textarea"
                (keyup)="updateKey($event, langKey, selectedKey)"
                [value]="selectedKey?.value[langKey] || ''"></textarea>
    </div>
  </div>
  <div class="col-12 d-flex align-items-end justify-content-end"
       style="height: 40px;">
    <span>Currently on branch: {{projectLoaderService.currentBranch}}</span>
  </div>
</div>

<ng-template #loading>Loading...</ng-template>
