<div class="modal-header">
  <h5 class="modal-title">Add key</h5>
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input type="text"
         class="w-100"
         id="add-key-input"
         [value]="key"
         (keyup)="key = $event.target.value"
         placeholder="Enter the Key here"/>

  <div *ngFor="let langKey of getKeys(languageLoaderService.languages)">
    <p class="mb-0">{{langKey.toUpperCase()}}</p>
    <textarea class="w-100 key-textarea"
              (keyup)="updateKey($event, langKey)"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-warning cursor-pointer"
          data-dismiss="modal"
          (click)="dismiss()">Abort
  </button>
  <button type="button"
          class="btn btn-success cursor-pointer"
          data-dismiss="modal"
          (click)="save()">Save
  </button>
</div>
