<nav class="navbar navbar-toggleable-md sticky-top navbar-dark bg-dark">
  <div class="navbar-nav flex-row">
    <a class="nav-item nav-link mx-2"
       [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/']">Home</a>
    <a class="nav-item nav-link mx-2"
       [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/plugin', 'i18nManager']">i18nator</a>
  </div>
  <a class="navbar-brand"
     [routerLink]="['/']">arsnova.click Manager</a>
</nav>
