@import "~bootstrap/scss/bootstrap";

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: auto;
}

.btn {
  outline: none !important;
  box-shadow: none !important;

  &:disabled {
    cursor: not-allowed;
  }
}
