<div>
  <div (scroll)="scrollHandler($event)"
       #langDataElement
       class="overflow-hidden"
       style="height: calc(100vh - 165px);">
    <div [style.height.px]="Math.max(0, Math.max(0, scrollPos - 10) * 40)"></div>
    <div *ngFor="let elem of (languageLoaderService.parsedLangData | filterKeys:filter | searchFilter:searchFilter | sort) | justafew:scrollPos; let i of index"
         class="px-2 py-2 cursor-pointer d-flex"
         [class.bg-warning]="selectedIndex === i"
         (keydown.ArrowUp)="selectKey(i - 1)"
         (keydown.ArrowDown)="selectKey(i + 1)"
         (click)="selectKey(i)">
          <span class="text-danger mr-2"
                *ngIf="hasEmptyKeys(elem)">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
      <span class="text-truncate"
            [title]="elem.key">{{elem.key}}</span>
      <span class="ml-auto cursor-pointer"
            *ngIf="selectedIndex === i"
            (click)="removeKey(i)">
            <i class="fas fa-trash"></i>
      </span>
    </div>
    <div [style.height.px]="Math.max(0,((languageLoaderService.parsedLangData | filterKeys:filter | searchFilter:searchFilter | sort).length - scrollPos - 40)) * 40"></div>

    <h5 class="mt-5 text-danger text-center"
        *ngIf="langDataElement.children.length < 4">
      No data could be mapped to the specified filter.
    </h5>
  </div>
</div>
